<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<handlers>
<add name-"Python FastCGI"
path="*"
verb="*"
modules-"FastCgiModule"
scriptProcessor="!!!!!!!!!!!!"
resourceType="Unspecified"
requireAccess="Script"/>
</handlers>
</system.webServer>
<appSettings›
<add key-"PYTHONPATH" value-"C:\inet\wwwroot\artax" />
<add key-"WSGI_HANDLER" value="artax.wsgi.application"
<add key-"DJANGO_SETTINGS_MODULE"
value-"zeennylawfirm.settings"
</appSettings>
</configuration>