{% extends "layout.html" %}
{% block title %}Not Found 404{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
  <main>
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>The record you are looking for doesn't exist. Please check input or create one.</h2>
        {% if param == "book": %}
        <a class="btn" href="{{ url_for('book_queries') }}">Back to home</a>
        {% elif param == "file": %}
        <a class="btn" href="{{ url_for('file_queries') }}">Back to home</a>
        {% endif %}
        <img src="{{url_for('static', filename='assets/img/not-found.svg')}}" class="img-fluid py-5" alt="Page Not Found">
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </section>

    </div>
  </main><!-- End #main -->

{% endblock %}